<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="UaApplicationConfiguration" type="UnifiedAutomation.UaBase.ApplicationConfigurationSection,UnifiedAutomation.UaBase"/>
  </configSections>

  <UaApplicationConfiguration>
    <SecuredApplication xmlns:i="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://opcfoundation.org/UA/2011/03/SecuredApplication.xsd" xmlns:ua="http://opcfoundation.org/UA/2008/02/Types.xsd">

      <!-- Identify the Application -->
      <ApplicationName>UnifiedAutomation MachineDemoServer@localhost</ApplicationName>
      <ApplicationUri>urn:localhost:UnifiedAutomation:MachineDemoServer</ApplicationUri>
      <ApplicationType>Server_0</ApplicationType>
      <ProductName>UnifiedAutomation MachineDemoServer</ProductName>

      <!-- Specify location of Certificates and Trust Lists -->
      <ApplicationCertificate>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\UnifiedAutomation\MachineDemoServer\pki\own</StorePath>
        <!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\My</StorePath>
        -->
        <SubjectName>CN=MachineDemoServer/O=UnifiedAutomation/DC=localhost</SubjectName>
      </ApplicationCertificate>
      <TrustedCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\UnifiedAutomation\MachineDemoServer\pki\trusted</StorePath>
        <!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Applications</StorePath>
        -->
      </TrustedCertificateStore>
      <IssuerCertificateStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\UnifiedAutomation\MachineDemoServer\pki\issuers</StorePath>
        <!--
        <StoreType>Windows</StoreType>
        <StorePath>LocalMachine\UA Certificate Authorities</StorePath>
        -->
      </IssuerCertificateStore>
      <RejectedCertificatesStore>
        <StoreType>Directory</StoreType>
        <StorePath>%CommonApplicationData%\UnifiedAutomation\MachineDemoServer\pki\rejected</StorePath>
      </RejectedCertificatesStore>

      <BaseAddresses>
        <BaseAddress>opc.tcp://localhost:48030</BaseAddress>
      </BaseAddresses>
      <SecurityProfiles>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Basic256Sha256</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#Aes128_Sha256_RsaOaep</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
        <SecurityProfile>
          <ProfileUri>http://opcfoundation.org/UA/SecurityPolicy#None</ProfileUri>
          <Enabled>true</Enabled>
        </SecurityProfile>
      </SecurityProfiles>
      <Extensions>

        <!-- the EndpointUrl attribute for an Endpoint node must match one of the BaseAddresses -->
        <!--
        <Extension>
          <EndpointSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <Endpoint EndpointUrl="opc.tcp://localhost:48030">
              <DisableNoSecurity>true</DisableNoSecurity>
              <EnableSignOnly>true</EnableSignOnly>
              <DisableSignAndEncrypt>true</DisableSignAndEncrypt>
            </Endpoint>
          </EndpointSettings>
        </Extension>
        -->

        <!-- Specify the Trace settings for the Application -->
        <Extension>
          <TraceSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd" MasterTraceEnabled="false" DefaultTraceLevel="Info">
            <TraceFile>%CommonApplicationData%\UnifiedAutomation\logs\MachineDemoServer.log.txt</TraceFile>
            <MaxEntriesPerLog>100000</MaxEntriesPerLog>
            <MaxLogFileBackups>3</MaxLogFileBackups>
            <ModuleSettings>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Stack" TraceEnabled="true"/>
              <ModuleTraceSettings ModuleName="UnifiedAutomation.Server" TraceEnabled="true"/>
            </ModuleSettings>
          </TraceSettings>
        </Extension>

        <!-- Specify Settings when EXE is run with the /install argument -->
        <Extension>
          <InstallationSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <GenerateCertificateIfNone>true</GenerateCertificateIfNone>
            <DeleteCertificateOnUninstall>true</DeleteCertificateOnUninstall>
            <ConfigureFirewall>true</ConfigureFirewall>
          </InstallationSettings>
        </Extension>

        <Extension>
          <ServerSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <UserIdentity>
              <EnableAnonymous>true</EnableAnonymous>
              <EnableUserName>true</EnableUserName>
            </UserIdentity>
            <DiscoveryRegistration>
              <!-- Set Enabled to 'true' if a Local Discover Server is running -->
              <Enabled>false</Enabled>
              <RegistrationInterval>2</RegistrationInterval>
            </DiscoveryRegistration>
          </ServerSettings>
        </Extension>

        <Extension>
          <SessionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxSessionCount>100</MaxSessionCount>
          </SessionSettings>
        </Extension>

        <Extension>
          <SubscriptionSettings xmlns="http://unifiedautomation.com/schemas/2011/12/Application.xsd">
            <MaxSubscriptionCount>500</MaxSubscriptionCount>
            <MaxSubscriptionsPerSession>100</MaxSubscriptionsPerSession>
            <MaxNotificationsPerPublish>25000</MaxNotificationsPerPublish>
            <MaxMessageQueueSize>100</MaxMessageQueueSize>
          </SubscriptionSettings>
        </Extension>
      </Extensions>
    </SecuredApplication>
  </UaApplicationConfiguration>
</configuration>

