<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="UnifiedAutomation.UaBase" version="3.2.0" targetFramework="net48" />
  <package id="UnifiedAutomation.UaBase.Windows" version="3.2.0" targetFramework="net48" />
  <package id="UnifiedAutomation.UaServer" version="3.2.0" targetFramework="net48" />
</packages>
